

.export {
    padding-right: 120px;
}

input.search, button.search {
    border-radius: 24px;
}



body {
    font-family: 'lato', sans-serif;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/*.limiter {*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/
